{{ define "main" }}
  <div class="columns">
    <div class="column">
      {{ $items := (where (where $.Site.Pages "Type" "in" "[see]") "Kind" "page") }}
      {{ $paginated := .Paginate $items $.Site.Params.paginateSee }}
      <div class="columns is-multiline">
        {{ range $paginated.Pages }}
        <div class="column is-4">
        {{ partial "see/post-preview" . }}
        </div>
        {{ end }}
      </div>
      {{ partial "pagination" . }}
    </div>
    <div class="column is-4 is-hidden-mobile">
      {{ partial "shared/tag-cloud" . }}
    </div>
  </div>
{{ end }}
