{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
<main class="container is-fluid">
  <div class="columns">
    <div class="column">
      {{ $items := (where (where $.Site.Pages "Type" "in" "[blog]") "Kind" "page") }}
      {{ $paginated := .Paginate $items $.Site.Params.paginateBlog }}
      <div>
        {{ range $paginated.Pages }}
        {{ partial "blog/post-preview.html" . }}
        {{ end }}
      </div>
      {{ partial "pagination.html" . }}
    </div>
    <div class="column is-4 is-hidden-mobile">
      {{ partial "shared/profile.html" . }}
      {{ partial "shared/tag-cloud.html" . }}
    </div>
  </div>
</main>
{{ partial "footer.html" . }}
