{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
<main class="container is-fluid">
    <div class="columns">
        <div class="column">
            {{ $items := (where (where $.Site.Pages "Type" "in" "[blog]") "Kind" "page") }}
            {{ $paginated := .Paginate $items $.Site.Params.paginateBlog }}
            {{ range $paginated.Pages }}
                {{ partial "post-preview.html" . }}
            {{ end }}
            {{ partial "pagination.html" . }}
        </div>
        <div class="column is-4 is-hidden-mobile">
            <div class="box has-corners-large"></div>
        </div>
    </div>
</main>
{{ partial "footer.html" . }}