{{ define "main" }}
  <div class="columns">
    <div class="column">
      <div class="columns is-multiline">
        {{ range first $.Site.Params.paginateIndex (where (where $.Site.Pages "Type" "in" "[see]") "Kind" "page") }}
        <div class="column is-4">
        {{ partial "see/post-preview" . }}
        </div>
        {{ end }}
      </div>

      {{ $items := (where (where $.Site.Pages "Type" "in" "[blog]") "Kind" "page") }}
      {{ $paginated := .Paginate $items $.Site.Params.paginateBlog }}
      <div>
        {{ range $paginated.Pages }}
        {{ partial "blog/post-preview" . }}
        {{ end }}
      </div>
      {{ partial "pagination" . }}
    </div>
    <div class="column is-4 is-hidden-mobile">
      {{ partial "shared/profile" . }}
      {{ partial "shared/tag-cloud" . }}
    </div>
  </div>
{{ end }}
