.navbar {
  &.is-fixed-top {
    box-shadow: 0 1px 2px rgba($black, 0.1);
  }

  .navbar-burger {
    &:hover {
      background-color: $nord1;

      span {
        background-color: $nord4;
      }
    }

    span {
      height: 2px;
    }
  }
}

.button {
  &.is-outlined {
    border-width: 2px;
  }
}

.box {
  &.has-corners-large {
    border-radius: 1rem;
    box-shadow: largeBoxShadow($nord0, 0.2);
  }

  &.is-primary {
    background-color: $primary;
    color: $primary-invert;
    box-shadow: largeBoxShadow($primary, 0.4);

    * {
      color: $primary-invert;
    }
  }

  &.is-danger {
    background-color: $danger;
    color: $danger-invert;
    box-shadow: largeBoxShadow($danger);

    * {
      color: $danger-invert;
    }
  }

  &.is-warning {
    background-color: $warning;
    color: $warning-invert;
    box-shadow: largeBoxShadow($warning);

    * {
      color: $warning-invert;
    }
  }

  &.is-success {
    background-color: $success;
    color: $success-invert;
    box-shadow: largeBoxShadow($success);

    * {
      color: $success-invert;
    }
  }

  &.is-info {
    background-color: $info;
    color: $info-invert;
    box-shadow: largeBoxShadow($info);

    * {
      color: $info-invert;
    }
  }
}

.tag {
  &:not(body) {
    &.is-primary {
      color: $nord0;
    }
  }

  &.is-rounded {
    border-radius: 1rem;
  }
}

.title {
  &.has-margin-bottom-small {
    margin-bottom: 0.8rem;
  }
}

code,
pre {
  border-radius: 4px;
}
