@import "./variables";
@import "./functions";

@import "~bulma";

@import "./bulma-custom";

html {
  overflow: auto;
  font-size: 1.1rem;
}

html,
body {
  &.has-navbar-fixed-top {
    padding-top: 58px;
  }
}

main {
  &.container {
    padding: 0.75rem;
  }
}

footer {
  &.is-white {
    background: $white;
  }

  .footer-social-item {
    margin: 0 0.75rem;
  }
}

.post-preview {
  position: relative;

  &-link {
    border-radius: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &.is-image-full {
    padding: 0;

    img {
      border-radius: 1rem;
    }
  }

  .title {
    &:first-of-type {
      margin-bottom: 0.8rem;
    }

    &.published-date {
      margin-top: 0.8rem;
      margin-bottom: 0;
    }
  }

  .tags {
    margin-bottom: 0;
  }
}

.blog-content {
  .published-date {
    font-weight: 600;
  }
}

.sidebar {
  .title {
    &:first-of-type {
      margin-bottom: 0.8rem;
    }
  }

  .sidebar-links {
    display: block;
    padding-bottom: 0.25rem;

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.highlight {
  padding: 1.25rem;
  background-color: $highlight-color-bg;
  border-radius: 1rem;
  box-shadow: largeBoxShadow($primary, 0.1);
}
